html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.container {
  width: 1100px;
}

.column-1 {
  width: 7.33333%;
}

.column-2 {
  width: 15.66667%;
}

.column-3 {
  width: 24%;
}

.column-4 {
  width: 32.33333%;
}

.column-5 {
  width: 40.66667%;
}

.column-6 {
  width: 49%;
}

.column-7 {
  width: 57.33333%;
}

.column-8 {
  width: 65.66667%;
}

.column-9 {
  width: 74%;
}

.column-10 {
  width: 82.33333%;
}

.column-11 {
  width: 90.66667%;
}

.column-12 {
  width: 99%;
}

.row {
  width: 100%;
  *zoom: 1;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="column"] {
  float: left;
  margin-left: 1%;
}
[class*="column"]:first-child {
  margin-left: 0;
}

* html {
  font-size: 81.25%;
}

html {
  font-size: 13px;
  line-height: 1.84615em;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-size: 1.69231em;
  line-height: 2.18182em;
}

h2 {
  font-size: 1.38462em;
  line-height: 1.33333em;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.38462em;
  line-height: 1.33333em;
}

p {
  margin: 1em 0;
  color: #777;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.table {
  background: #FFF;
  margin: 1em 0;
  border: 1px solid #ddd;
  width: 100%;
}
.table .center {
  text-align: center;
}

thead {
  background: #ff6664;
}

th {
  font-size: 0.84615em;
  line-height: 2.18182em;
  border: 1px solid #ddd;
  padding: 10px 20px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
}

td {
  border: 1px solid #ddd;
  padding: 10px 20px;
}

.form-container {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 600px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.25);
  padding: 30px 75px;
  margin-top: 220px;
}
.form-container h1 {
  color: #FFF;
  margin-bottom: 1em;
}
.form-container p {
  color: #FFF;
  margin-top: 0;
}

input {
  border: none;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
}

input[type="submit"] {
  padding: 20px 0;
}

textarea, select {
  width: 100%;
  padding: 20px;
}

select {
  padding: 20px;
  margin-bottom: 10px;
  background: #FFF;
}

.list-group-item {
  padding: 10px 15px;
  border: 1px solid #ddd;
  background: #FFF;
}

.btn {
  display: inline-block;
  background: white;
  outline: none;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 10px;
}

.btn-primary, .btn-succes, .btn-danger {
  background: #A1E12F;
  color: #FFF;
  border-color: #87AA7E;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.btn-primary:hover, .btn-succes:hover, .btn-danger:hover {
  background: #95d71f;
}

.btn-danger {
  background: red;
}
.btn-danger:hover {
  background: #e60000;
}

.alert {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px;
  margin-bottom: 20px;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  background: #F0F0F0;
  color: #454545;
}

.container {
  margin: 0 auto;
}

a {
  color: #19aacf;
}
a:hover {
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

header {
  width: 100%;
  background: white;
  border-bottom: 1px solid lightgrey;
  *zoom: 1;
}
header:after {
  content: "";
  display: table;
  clear: both;
}

.navbar ul {
  float: right;
  list-style-type: none;
}
.navbar ul li {
  float: left;
}
.navbar ul li a {
  display: block;
  padding: 25px;
  color: darkgrey;
  text-decoration: none;
}
.navbar ul li a:hover {
  color: #000;
}

.full-width-image {
  height: 600px;
  background: url("../img/laptop5.jpg") 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro {
  text-shadow: black 0 1px 40px;
  padding-top: 220px;
  text-align: center;
  color: #FFF;
}

.tagline {
  font-size: 3.53846em;
  line-height: 1.56522em;
  line-height: 1em;
  font-weight: bold;
}

.container-main {
  padding-top: 50px;
}

.contest-header {
  border-bottom: 1px solid #dae3e3;
  margin-bottom: 30px;
  text-align: center;
}
.contest-header h2 {
  top: 30px;
  display: inline-block;
  position: relative;
  background: #F0F0F0;
  padding: 0 15px;
}

.contest-details, .contest-briefing {
  padding: 25px;
  background: white;
  border: solid 1px #e2e2e2;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.login-bg {
  background: url("../img/imac.jpg") fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.register-bg {
  background: url("../img/keyboard.jpg") fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
