// main fixed width
$content-width : 1100px;

// number of columns
$column-count : 12;

// gutter width
$gutter-width: 1%;

.container {
	width: $content-width;
}

@for $i from 1 through $column-count {
	.column-#{$i} {
		width: (100% * ($i / $column-count)) - $gutter-width;
	}
}

.row {
	width: 100%;
	@include pie-clearfix;
}

[class*="column"] {
	float: left;
	margin-left: $gutter-width;

	&:first-child {
		margin-left: 0;
	}
}