.table {
	background: #FFF;
	margin: 1em 0;
	border: 1px solid #ddd;
	width: 100%;
	.center {
		text-align: center;
	}
}
thead {
	background: #ff6664;
}
th {
	@include adjust-font-size-to(11px);
	border: 1px solid #ddd;
	padding: 10px 20px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
}
td {
	border: 1px solid #ddd;
	padding: 10px 20px;
}